pytest
httpx
fastapi
uvicorn
pydantic
python-dotenv
openai
tenacity
tiktoken
pytest-asyncio
azure-identity
azure-core
azure-storage-blob
azure-keyvault-secrets
validators 
orjson
pylint
mypy
dotenv
ddgs #duckduckgo-search
langchain
langchain-openai